<app-fade-in-animation>
    <!--APP-STATUS-BAR-->
    <!--<app-status-bar></app-status-bar>-->

    <!--APP-BODY-->
    <div class="wed-panel-def panel-animated-lt p-4" style="min-height: 800px;">
        <div class="row">
            <div class="col-lg-8 col-xl-4 mb-4">
                <app-currency></app-currency>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <app-cat-table></app-cat-table>
            </div>
        </div>
    </div>
    <app-notes></app-notes>
</app-fade-in-animation>
