<section class="container-fluid">
  <div class="row center-flex-hor">
    <section class="pr-list-panel col-10">
        <div class="row center-flex-hor">
          <nav class="col-11 pl-0">
            <div class="wed-btn-lg wed-btn-danger">
              <a >
                {{ "header.user-menu.logout" | translate}}
              </a>
            </div>
            <div class="wed-btn-md wed-btn-warning">
              <a >
                {{ "header.user-menu.logout" | translate}}
              </a>
            </div>
            <div class="wed-btn-sm wed-btn-success">
              <a >
                {{ "header.user-menu.logout" | translate}}
              </a>
            </div>
            <div class="wed-btn-xs wed-btn-primary">
              <a >
                {{ "header.user-menu.logout" | translate}}
              </a>
            </div>
            <div class="wed-btn-md wed-btn-default">
              <a >
                {{ "header.user-menu.logout" | translate}}
              </a>
            </div>
          </nav>
        </div>
    </section>
  </div>
</section>
