<section class="container-fluid">
    <div class="row center-flex-hor">
        <section class="pr-list-panel col-10">
            <div class="row center-flex-hor">
                <nav class="col-11 pl-0">
                    <a class="wed-btn-md wed-btn-success" routerLink="new-project">
                        {{ "MAIN.pr-panel.nav.new" | translate}}
                    </a>
                    <div *ngIf="archive.length">
                        <a *ngIf="!archiveView"
                           class="wed-btn-md wed-btn-primary"
                           (click)="showArchive(true)">
                            {{ "MAIN.pr-panel.nav.arch" | translate}}
                            <span class="badge badge-primary">{{archive.length}}</span>
                        </a>
                        <a *ngIf="archiveView"
                           class="wed-btn-md wed-btn-warning"
                           (click)="showArchive(false)">
                            {{ "MAIN.edit.back" | translate}}
                        </a>
                    </div>

                </nav>
            </div>
            <div class="row center-flex-hor">
                <!--PROJECTS-->
                <ul *ngIf="projects.length && !archiveView" class="col-11 w-projects-list">
                    <li *ngFor="let project of projects | orderByWeddingDate">
                        <div>
                            <a routerLink="{{'../' + 'project/' + project._id + '/dashboard'}}">
                                <span>
                                    {{ "MAIN.pr-panel.pr-list.wedding" | translate}}
                                    {{project.weddingDate | date : 'dd.MM.yyyy'}},
                                    {{ "MAIN.pr-panel.pr-list.fiance" | translate}}
                                    {{project.fiance}},
                                    {{ "MAIN.pr-panel.pr-list.fiancee" | translate}}
                                    {{project.fiancee}},
                                    {{ "MAIN.pr-panel.pr-list.budget" | translate}}
                                    {{project.budgetGenPlanUsd | number : 0}} USD
                                </span>
                            </a>
                        </div>
                        <div>
                            <button class="wed-btn-xs wed-btn-service" routerLink="{{'edit-project/' + project._id}}">
                                {{ "MAIN.pr-panel.pr-list.edit" | translate}}
                            </button>
                        </div>
                    </li>
                </ul>
                <!--ARCHIVE-->
                <ul *ngIf="archive.length && archiveView" class="col-11 w-projects-list">
                    <li *ngFor="let project of archive | orderByWeddingDate">
                        <div>
                            <a routerLink="{{'../' + 'project/' + project._id}}">
                                <span>
                                    {{ "MAIN.pr-panel.pr-list.wedding" | translate}}
                                    {{project.weddingDate | date : 'dd.MM.yyyy'}},
                                    {{ "MAIN.pr-panel.pr-list.fiance" | translate}}
                                    {{project.fiance}},
                                    {{ "MAIN.pr-panel.pr-list.fiancee" | translate}}
                                    {{project.fiancee}},
                                    {{ "MAIN.pr-panel.pr-list.budget" | translate}}
                                    {{project.budgetGenPlanUsd | number : 0}} USD
                                </span>
                            </a>
                        </div>
                        <div>
                            <button class="wed-btn-xs wed-btn-service" routerLink="{{'edit-project/' + project._id}}">
                                {{ "MAIN.pr-panel.pr-list.edit" | translate}}
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</section>
