.notes-block {
  z-index: 0;
  display: flex;
  position: fixed;
  top: 35%;
  transition: all 0.6s;

  > div {
    display: inline-flex;
  }

  div.wed-panel-def {
    border-top-left-radius: 0;
    box-shadow: 10px 15px 20px rgba(75, 74, 76, 0.78);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button.note-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 10px 10px 15px rgba(75, 74, 76, 0.78);
    padding: 15px;
  }

  form {
    input {
    }
  }

  li {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(75, 74, 76, 0.78);
  }

}

.notes-block-show {
  left: 35%;
}

.notes-block-hide {
  right: 0;
  //left:35%;

  div.wed-panel-def {
    display: none;
  }
}


.notes-body {

  .notes-list {
    display: block;
    height: 400px;
    overflow-y: scroll;
    margin-top: 15px;
    padding-right: 15px;

    ul {
      padding: 10px;
      list-style: none;

      li {
        margin: 20px auto;
        padding: 15px 15px 15px 25px;

        header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
