<!--NOTES-->
<div class="notes-block" [ngClass]="notesActive ? 'notes-block-show' : 'notes-block-hide'">
  <div>
    <div>
      <button class="wed-btn-sm wed-btn-primary btn-block m-0"
              (click)="notesToggle()">
        <span class="notes-label">{{"common.notes" | translate}}</span>
      </button>
    </div>
    <div>
      <div class="wed-panel-def">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem blanditiis cumque dignissimos excepturi incidunt ipsam nisi praesentium recusandae sed! Adipisci aperiam eos maxime nostrum nulla obcaecati porro quidem ut!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa dignissimos doloremque ducimus eos est eveniet harum incidunt inventore magnam, molestiae, necessitatibus neque nobis numquam repudiandae tempore velit vitae voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque excepturi in ipsam iure, labore minima molestiae necessitatibus qui sunt. Accusamus adipisci alias architecto dolor hic nobis odio porro reiciendis!
      </div>
    </div>
  </div>
</div>