.notes-block {
  z-index: 0;
  display: flex;
  position: fixed;
  top: 30%;
  transition: all 0.6s;

  > div {
    display: inline-flex;
  }

  div.wed-panel-def {
    border-top-left-radius: 0;
  }

  button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 15px;
  }

}

.notes-block-show {
  left: 40%;

  div.wed-panel-def {
  }
}
.notes-block-hide {
  right: 0;

  div.wed-panel-def {
    display: none;
  }
}
