@import "../../../../assets/styles/colors";
.notes-block {
  z-index: 0;
  display: flex;
  position: fixed;
  top: 35%;
  transition: all 0.6s;

  > div {
    display: inline-flex;
  }

  div.wed-panel-def {
    border-top-left-radius: 0;
    box-shadow: 10px 15px 20px rgba(75, 74, 76, 0.78);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button.note-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 10px 10px 15px #4b4a4c;
    padding: 15px;
  }

}

.notes-block-show {
  left: 45%;
}

.notes-block-hide {
  right: 0;
  //left:35%;

  div.wed-panel-def {
    display: none;
  }
}


.notes-body {

  .nones-header {
    h5 {
      text-align: right;
      font-style: italic;
      color: $wed-text-header;
    }
    border-bottom: 2px solid $wed-primary;
  }
  .notes-list {
    display: block;
    height: 400px;
    overflow-y: scroll;
    margin-top: 15px;
    padding-right: 15px;

    ul {
      padding: 10px;
      list-style: none;

      li:first-of-type {
        margin-top: 0;
      }
      li {
        margin: 20px auto;
        padding: 8px 15px 15px 25px;
        border-radius: 5px;

        header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
