@mixin backgrounds() {
  $screen-height: 3000px;
  $base-url: "assets/img/backgrounds/";
  $ext: ".jpg";

  @mixin bg($name) {
    background: url($base-url + $name + $ext) no-repeat center center fixed;
    background-size: cover;
    height: $screen-height;
  }

  .bg-landing {
    @include bg("landing_bg");
  }

  .bg-auth {
    @include bg("auth_main");
  }

  .bg-main {
    @include bg("main-page_bg");
  }

  .bg-project {
    @include bg("project-page_bg");
  }
}
