@mixin backgrounds() {
  $screen-height: 3000px;
  .bg-landing {
    background: url("assets/img/backgrounds/landing_main_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    height: $screen-height;
  }

  .bg-auth {
    background: url("assets/img/backgrounds/auth_main.jpg") no-repeat center center fixed;
    background-size: cover;
    height: $screen-height;
  }
}