@mixin buttons() {
  a,
  button {
    text-decoration: none;
    cursor: pointer;
  }

  .auth-btn {
    color: #ffffff;
    padding: 5px 20px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: #5989f5;
      background: #ffffff;
      box-shadow: 2px 2px 6px #366885;
      text-shadow: 3px 3px 8px #5989f5;
    }
  }
}