@import "colors";

@mixin buttons() {
  a,
  button {
    text-decoration: none !important;
    cursor: pointer !important;
  }

  .auth-btn {
    color: #ffffff;
    padding: 5px 20px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
    a {
      color: #ffffff;
    }

    &:hover {
      background: #ffffff;
      box-shadow: 2px 2px 6px #366885;
      a {
        color: #5989f5;
        text-shadow: 3px 3px 8px #5989f5;
      }
    }
  }

  $size: 40px;
  .wed-btn-lg {
    padding-top: $size/3.5;
    padding-bottom: $size/3.5;
    padding-left: $size;
    padding-right: $size;
    font-size: $size/2;
    border-radius: $size/4;
    font-weight: bold;
    cursor: pointer;
  }
  .wed-btn-md {
    padding-top: $size/4;
    padding-bottom: $size/4;
    padding-left: $size/2;
    padding-right: $size/2;
    border-radius: $size/4;
    font-weight: 600;
    cursor: pointer;
  }
  .wed-btn-sm {
    padding-top: $size/6;
    padding-bottom: $size/6;
    padding-left: $size/4;
    padding-right: $size/4;
    font-size: $size/3;
    border-radius: $size/4;
    font-weight: 600;
    cursor: pointer;
  }
  .wed-btn-xs {
    padding-top: $size/7;
    padding-bottom: $size/7;
    padding-left: $size/5;
    padding-right: $size/5;
    font-size: $size/4;
    border-radius: $size/4;
    font-weight: 600;
    cursor: pointer;
  }

  @mixin btn($bg-color, $text-color) {
    display: inline-block;
    color: $text-color !important;
    background: $bg-color;
    border: none;
    margin: 5px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      background: $text-color;
      box-shadow: inset 4px 4px 8px $bg-color;
      color: $bg-color !important;
      text-shadow: 0 0 3px $bg-color;
    }
    &:disabled {
      opacity: 0.5;
    }
  }

  .wed-btn-danger {
    @include btn($wed-danger, #ffffff);
  }
  .wed-btn-warning {
    @include btn($wed-warning, #ffffff);
  }
  .wed-btn-success {
    @include btn($wed-success, #ffffff);
  }
  .wed-btn-primary {
    @include btn($wed-primary, #ffffff);
  }
  .wed-btn-service {
    @include btn($wed-service, #ffffff);
  }
  .wed-btn-default {
    @include btn($wed-default, #ffffff);
  }
}

