$wed-danger: rgba(179, 5, 5, 0.39);
$wed-warning: rgba(255, 152, 0, 0.59);
$wed-success: rgba(25, 218, 51, 0.54);
$wed-primary: rgba(33, 150, 243, 0.54);
$wed-service: rgba(103, 58, 183, 0.64);
$wed-default: rgba(120, 123, 126, 0.56);


/*TEXT*/
$wed-text-header: rgba(3, 26, 95, 0.77);
$wed-text-service: rgba(105, 99, 161, 1);