@import "backgrounds";
@import "buttons";
@import "colors";
@import "fonts";
@import "forms";
@import "panels";
@import "positioning";
@import "tables";
@import "scroll-bars";
@import "shadows";

@mixin index(){
  @include backgrounds();
  @include buttons();
  @include panels();
  @include position();
  @include fonts();
  @include forms();
  @include tables();
  @include scroll-bars();
  @include shadows();
}
