@mixin panels() {
  .auth-panel {
    $auth-panel-padding: 4rem;
    background: rgba(255, 255, 255, 0.8);
    padding-top: $auth-panel-padding - 2;
    padding-bottom: $auth-panel-padding;
    width: 100%;
    border-radius: 2rem;
    position: relative;
    top: 5rem;
    display: flex;
    align-items: center;
    transition: background 0.8s ease;
    &:hover {
      background: rgba(255, 255, 255, 0.85);
    }
  }
}