@mixin panels() {
  .auth-panel {
    $index: 4rem;
    background: rgba(255, 255, 255, 0.8);
    padding-top: $index - 2;
    padding-bottom: $index;
    width: 100%;
    border-radius: 2rem;
    position: relative;
    top: 5rem;
    display: flex;
    align-items: center;
    transition: background 0.8s ease;
    &:hover {
      background: rgba(255, 255, 255, 0.85);
    }
  }

  .pr-list-panel {
    $index: 4rem;
    $bg-color: rgba(255, 255, 255, 0.8);
    $brd-r: $index / 4;

    margin-top: $index;
    width: 100%;
    border-radius: $brd-r;
    background: rgba(255, 255, 255, 0.8);
    padding: $index / 4;
    header {
      text-align: left;
      border-bottom: 2px solid $wed-primary;
      color: $wed-text-header;
    }

    footer {
      padding-top: $index/4;
      text-align: right;
      border-top: 2px solid $wed-primary;
      color: $wed-text-header;
      > div {
        display: inline-block;
      }
    }
  }

  .wed-panel-def {
    $index: 4rem;
    $bg-color: rgba(255, 255, 255, 0.6);
    $brd-r: $index / 8;
    border-radius: $brd-r;
    background: rgba(255, 255, 255, 0.8);
    padding: $index / 4;
  }

  .panel-animated-lt {
    margin: 10px auto;
    transition: all 0.8s;
    &:hover {
      margin: 15px auto;
    }
  }

  @mixin tx-header() {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $wed-text-header;
  }
  @mixin tx-section() {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $wed-text-service;
    font-size: 150%;
    font-weight: 600;
  }
  .tx-header {
    @include tx-header();
  }
  .tx-section {
    @include tx-section();
  }
  .tx-panel {
    $size: 10px;
    width: 100%;
    border-top: 2px solid rgba(33, 150, 243, 0.54);
    border-bottom: 2px solid rgba(33, 150, 243, 0.54);
    min-height: $size*5;
    padding: $size*1.5;
    header {
      @include tx-header();
    }
    section {
      @include tx-section();
    }
  }


}