@mixin panels() {
  @mixin panel-def() {
    $index: 4rem;
    $bg-color: rgba(255, 255, 255, 0.6);
    $brd-r: $index / 8;
    border-radius: $brd-r;
    background: rgba(255, 255, 255, 0.8);
    padding: $index / 4;
  }

  .auth-panel {
    $index: 4rem;
    background: rgba(255, 255, 255, 0.8);
    padding-top: $index - 2;
    padding-bottom: $index;
    width: 100%;
    border-radius: 2rem;
    position: relative;
    top: 5rem;
    display: flex;
    align-items: center;
    transition: background 0.8s ease;
    &:hover {
      background: rgba(255, 255, 255, 0.85);
    }
  }

  .pr-list-panel {
    $index: 4rem;
    $bg-color: rgba(255, 255, 255, 0.8);
    $brd-r: $index / 4;

    margin-top: $index;
    width: 100%;
    border-radius: $brd-r;
    background: rgba(255, 255, 255, 0.8);
    padding: $index / 4;
    header {
      text-align: left;
      border-bottom: 2px solid $wed-primary;
      color: $wed-text-header;
    }

    footer {
      padding-top: $index/4;
      text-align: right;
      border-top: 2px solid $wed-primary;
      color: $wed-text-header;
      > div {
        display: inline-block;
      }
    }
  }

  .wed-panel-def {
    @include panel-def();
  }
  .wed-panel-silver{
    display: inline-block;
    border: 1px solid #ababab;
    border-radius: 5px;
    background: linear-gradient(45deg, #E5E5E5 0%, #fff 30%, #E5E5E5 150%);
  }
  .panel-animated-lt {
    margin: 10px auto;
    transition: all 0.8s;
    &:hover {
      margin: 15px auto;
    }
  }

  // MODAL-PANEL
  .modal-panel-def {
    @include panel-def();
    border: 3px solid $wed-primary;
    header {
      color: $wed-text-header;
    }
    a.wed-close {
      display: block;
      position: absolute;
      background: #ffffffe8;
      padding: 0 6px 3px 6px;
      top: -16px;
      right: 8px;
      border-radius: 45%;
      border: 3px solid $wed-primary;
      transition: all 0.4s;
      span {
        color: $wed-primary !important;
      }
      &:hover {
        background: rgba(33, 150, 243, 0.8);
        span {
          color: #ffffff !important;
        }
      }
    }
  }

  // TX-PANEL
  @mixin wed-alert-aqua() {
    color: rgb(22, 116, 118);
    background: rgba(49, 191, 197, 0.25);
  }

  @mixin tx-header() {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $wed-text-header;
  }
  @mixin tx-section() {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $wed-text-service;
    font-size: 150%;
    font-weight: 600;
  }
  @mixin tx-footer() {
    @include wed-alert-aqua();
  }

  .tx-header {
    @include tx-header();
  }
  .tx-section {
    @include tx-section();
  }
  .tx-footer {
    @include tx-footer();
  }

  .tx-panel {
    $size: 10px;
    width: 100%;
    border-top: 2px solid rgba(33, 150, 243, 0.54);
    border-bottom: 2px solid rgba(33, 150, 243, 0.54);
    min-height: $size*5;
    padding: $size*2;
    header {
      @include tx-header();
    }
    section {
      @include tx-section();
    }
    .footer {
      @include tx-footer();
      td {
        @include tx-footer();
      }
    }
  }

}