<div class="app-menu-layout" [@fadeInOnInit]="anime">
  <!--APP-SUB-NAV-->
  <app-sub-nav></app-sub-nav>

  <!--APP-STATUS-BAR-->
  <div class="wed-panel-def">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorum et praesentium velit vero?

  </div>

  <!--APP-BODY-->
  <div class="wed-panel-def panel-animated-lt" style="height: 800px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorum et praesentium velit vero?
    Assumenda exercitationem ipsam quasi repudiandae. Corporis debitis eos est hic in ipsum molestiae
    quaerat quas, quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis
    dignissimos eius eos ex expedita, ipsum modi necessitatibus nihil nisi odio quidem quis sapiente
    sequi sunt? Magni nam officiis quos?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
    cupiditate dolores doloribus eaque, eligendi et iure libero maxime minus nemo nisi, odio repellendus
    rerum sapiente, voluptatem! Architecto corporis ipsa suscipit.
  </div>
</div>