<section class="bg-landing">
    <div class="container">
        <div class="row">
            <div class="auth-panel">
                <div class="col-12 auth-content" [@fadeInOnInit]="anime">
                    <!--HEADER-->
                    <header class="text-center">
                        <h2>{{ "REG.title" | translate }}</h2>
                    </header>

                    <!--FORM-->
                    <div class="col-4 offset-4">
                        <form class="auth-form"
                              novalidate
                              [formGroup]='registrationForm'
                              (ngSubmit)="onSubmit(registrationForm)">

                            <!--LOGIN-->
                            <div class="form-group">
                                <input type="text"
                                       formControlName="login"
                                       class="form-control"
                                       maxlength="30"
                                       placeholder='{{ "REG.form.login.pl" | translate }}'
                                       [class.form-control-danger]="registrationForm.get('login').invalid &&
                                   registrationForm.get('login').touched"
                                       [class.form-control-success]="registrationForm.get('login').valid &&
                                   registrationForm.get('login').touched">

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('login').hasError('required') &&
                                 registrationForm.get('login').touched"
                                     role="alert">
                                    <span>{{ "REG.form.login.err.req" | translate }}</span>
                                </div>

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('login').touched &&
                                 registrationForm.get('login').hasError('minlength')"
                                     role="alert">
                                    <span>{{ "REG.form.login.err.min" | translate }}</span>
                                </div>

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('login').touched &&
                                 registrationForm.get('login').hasError('pattern')"
                                     role="alert">
                                    <span>{{ "REG.form.login.err.pattern" | translate }}</span>
                                </div>
                            </div>

                            <!--PASSWORD-->
                            <div class="form-group">
                                <input type="password"
                                       formControlName="password"
                                       class="form-control"
                                       maxlength="40"
                                       placeholder='{{ "REG.form.pwd.pl" | translate }}'
                                       [class.form-control-danger]="registrationForm.get('password').invalid &&
                                   registrationForm.get('password').touched"
                                       [class.form-control-success]="registrationForm.get('password').valid &&
                                   registrationForm.get('password').touched">

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('password').hasError('required') &&
                                 registrationForm.get('password').touched"
                                     role="alert">
                                    <span>{{ "REG.form.pwd.err.req" | translate }}</span>
                                </div>

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('password').touched &&
                                 registrationForm.get('password').hasError('minlength')"
                                     role="alert">
                                    <span>{{ "REG.form.pwd.err.min" | translate }}</span>
                                </div>

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('password').touched &&
                                 registrationForm.get('password').hasError('pattern')"
                                     role="alert">
                                    <span>{{ "REG.form.pwd.err.pattern" | translate }}</span>
                                </div>
                            </div>

                            <!--CONFIRM PASSWORD-->
                            <div class="form-group">
                                <input type="password"
                                       formControlName="confirmPassword"
                                       class="form-control"
                                       placeholder='{{ "REG.form.r-pwd.pl" | translate }}'
                                       [class.form-control-danger]="registrationForm.get('confirmPassword').touched &&
                                   registrationForm.get('confirmPassword').invalid"
                                       [class.form-control-success]="registrationForm.get('confirmPassword').touched &&
                                   registrationForm.get('confirmPassword').valid">

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('confirmPassword').touched &&
                                 registrationForm.get('confirmPassword').invalid"
                                     role="alert">
                                    <span>{{ "REG.form.r-pwd.err.same" | translate }}</span>
                                </div>
                            </div>

                            <!--EMAIL-->
                            <div class="form-group">
                                <input type="email"
                                       formControlName="email"
                                       class="form-control"
                                       placeholder='{{"REG.form.email.pl" | translate}}'
                                       [class.form-control-danger]="registrationForm.get('email').invalid &&
                                   registrationForm.get('email').touched"
                                       [class.form-control-success]="registrationForm.get('email').valid &&
                                   registrationForm.get('email').touched">

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('email').hasError('required') &&
                                 registrationForm.get('email').touched"
                                     role="alert">
                                    <span>{{ "REG.form.email.err.req" | translate }}</span>
                                </div>

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('email').touched &&
                                 !registrationForm.get('email').hasError('required') &&
                                 registrationForm.get('email').hasError('email')"
                                     role="alert">
                                    <span>{{ "REG.form.email.err.pattern" | translate }}</span>
                                </div>
                            </div>

                            <!--NAME-->
                            <div class="form-group">
                                <input type="text"
                                       formControlName="name"
                                       class="form-control"
                                       maxlength="30"
                                       placeholder="{{'REG.form.name.pl' | translate}}"
                                       [class.form-control-danger]="registrationForm.get('name').invalid &&
                                   registrationForm.get('name').touched"
                                       [class.form-control-success]="registrationForm.get('name').valid &&
                                   registrationForm.get('name').touched">

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('name').hasError('required') &&
                                 registrationForm.get('name').touched"
                                     role="alert">
                                    <span>{{ "REG.form.name.err.req" | translate }}</span>
                                </div>

                                <div class="alert alert-danger-wed text-center mt-3"
                                     *ngIf="registrationForm.get('name').touched &&
                                 registrationForm.get('name').hasError('minlength')"
                                     role="alert">
                                    <span>{{ "REG.form.name.err.min" | translate }}</span>
                                </div>
                            </div>

                            <button type="submit"
                                    class="btn btn-block btn-outline-success submit"
                                    [disabled]="registrationForm.invalid">
                                {{ "REG.form.submit" | translate }}
                            </button>
                        </form>
                    </div>

                    <!--FOOTER-->
                    <footer class="col-6 offset-3">
                        <p>
                            {{ 'REG.footer.account' | translate }}
                            <a [routerLink]="'/auth/login'">
                                {{ 'REG.footer.login' | translate }}
                            </a>
                        </p>
                        <p>
                            {{ 'REG.footer.or' | translate }}
                            <a [routerLink]="'/index'">
                                {{ 'REG.footer.back' | translate }}
                            </a>
                        </p>
                    </footer>
                    
                </div>
            </div>
        </div>
    </div>
</section>