<section class="bg-project container-fluid" [@fadeInOnInit]="anime">
    <app-header></app-header>

    <div class="row mt-5">
        <section class="col-2">
            <app-project-menu></app-project-menu>

            <a (click)="backToProjects()" class="wed-btn-sm wed-btn-service back-to-projects">
                <span class="fa fa-angle-double-left"> </span>
                {{ "PROJ.menu.back" | translate}}
                <span class="fa fa-list-ul"> </span>
                <span class="fa fa-hand-o-left"> </span>
            </a>
        </section>

        <section class="col-10 pl-0">
            <router-outlet></router-outlet>
        </section>
    </div>

</section>
