<section class="bg-project container-fluid" [@fadeInOnInit]="anime">
    <app-header></app-header>

    <div class="row mt-4">
        <section class="col-2">
          <!--MENU-->
            <div class="wed-panel-def">
                <ul>
                    <li><a href="" class="wed-btn-md wed-btn-service">send</a></li>
                    <li><a href="" class="wed-btn-md wed-btn-service">send</a></li>
                    <li><a href="" class="wed-btn-md wed-btn-service">send</a></li>
                    <li><a href="" class="wed-btn-md wed-btn-service">send</a></li>
                    <li><a href="" class="wed-btn-md wed-btn-service">send</a></li>
                    <li><a href="" class="wed-btn-md wed-btn-service">send</a></li>
                </ul>
            </div>
        </section>

        <section class="col-10 pl-0">
            <!--APP-MENU-LAYOUT-->
            <div class="wed-panel-def">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorum et praesentium velit vero?
                Assumenda exercitationem ipsam quasi repudiandae. Corporis debitis eos est hic in ipsum molestiae
                quaerat quas, quisquam.
            </div>
        </section>
    </div>

</section>
