.back-to-projects {
  position: absolute;
  top:-17px;
  left: -115px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.6s;
  &:hover {
    left: -15px;

    span {
      opacity: 0.4;
    }
  }
}
