<section class="main row">
    <nav class="col-12">

        <div class="col-3 logo-block">
            <span class="logo">WEDDING_in</span>
            <span class="status">Beta v2.0.0</span>
        </div>
        <div class="offset-xl-5">
            <app-language></app-language>
        </div>
        <div class="menu-block">
            <div class="auth-btn">
                <a routerLink="/auth/login">
                    {{ "header.auth-btn.login" | translate}}
                </a>
            </div>

            <div class="auth-btn">
                <a routerLink="/auth/registration">
                    {{ "header.auth-btn.register" | translate}}
                </a>
            </div>
        </div>

    </nav>
</section>