<section class="main row">
    <nav class="col-12">

        <div class="col-3 logo-block">
            <span class="logo">WEDDING_in</span>
            <span class="status">Beta v2.0.0</span>
        </div>

        <div class="menu-block">
            <div class="auth-btn">
                <a routerLink="/auth/login">
                    <span>Sign In</span>
                </a>
            </div>

            <div class="auth-btn">
                <a routerLink="/auth/registration">
                    <span>Sign Up</span>
                </a>
            </div>
        </div>

    </nav>
</section>