<app-fade-in-animation>
    <div class="modal-panel-def">
        <header>
            <h5>{{("PROJ.dashboard.budget.currency.label" | translate).toUpperCase()}}</h5>
            <a class="wed-close" aria-label="Close" (click)="closeModal()">
                <span class="fa fa-close"></span>
            </a>
        </header>
        <hr>
        <section>
            <form class="general-form"
                  novalidate
                  [formGroup]="currencyForm"
                  (ngSubmit)="onSubmit(currencyForm)">

                <div class="general-form-content">

                    <!--NATIONAL MONEY BLOCK-->
                    <div class="form-group">
                        <h5>{{"PROJ.dashboard.budget.currency.form.natMoney.label" | translate}}</h5>
                        <input type="text"
                               formControlName="nationalMoney"
                               class="form-control"
                               maxlength="3"
                               list="moneyList"
                               placeholder='{{"PROJ.dashboard.budget.currency.form.natMoney.pl" | translate}}'
                               [class.form-control-danger]="currencyForm.get('nationalMoney').invalid &&
                                   currencyForm.get('nationalMoney').touched"
                               [class.form-control-success]="currencyForm.get('nationalMoney').valid &&
                                   currencyForm.get('nationalMoney').touched">

                        <div class="alert alert-danger-wed text-center mt-3"
                             *ngIf="currencyForm.get('nationalMoney').hasError('required') &&
                                 currencyForm.get('nationalMoney').touched"
                             role="alert">
                            <span>{{ "PROJ.dashboard.budget.currency.form.natMoney.err.req" | translate }}</span>
                        </div>
                    </div>

                    <!--CURRENCY INDEX BLOCK-->
                    <div class="form-group">
                        <h5>{{"PROJ.dashboard.budget.currency.form.index.label" | translate}}</h5>
                        <input type="number"
                               formControlName="currencyIndex"
                               class="form-control"
                               placeholder='{{"PROJ.dashboard.budget.currency.form.index.pl" | translate}}'
                               [class.form-control-danger]="currencyForm.get('currencyIndex').invalid &&
                                   currencyForm.get('currencyIndex').touched"
                               [class.form-control-success]="currencyForm.get('currencyIndex').valid &&
                                   currencyForm.get('currencyIndex').touched">

                        <div class="alert alert-danger-wed text-center mt-3"
                             *ngIf="currencyForm.get('currencyIndex').hasError('required') &&
                                 currencyForm.get('currencyIndex').touched"
                             role="alert">
                            <span>{{ "PROJ.dashboard.budget.currency.form.natMoney.err.req" | translate }}</span>
                        </div>
                    </div>
                </div>

                <button type="submit"
                        class="btn-block wed-btn-sm wed-btn-success m-0"
                        [disabled]="currencyForm.invalid">
                    {{"common.save" | translate}}
                </button>

            </form>
        </section>
    </div>
</app-fade-in-animation>

<datalist id="moneyList">
    <option value="UAH">UAH</option>
    <option value="RUB">RUB</option>
    <option value="BLR">BLR</option>
</datalist>
