<div class="wed-panel-def panel-animated-lt pt-2 pb-2" style="margin-top: 3px">
    <div class="sub-nav-block">
        <nav class="project-sub-nav">
            <ul>
                <li *ngFor="let item of subMenuConfig.subMenu; let i = index">
                    <a routerLink={{item.link}}
                       (click)="activeSubMenu(i)"
                       class="wed-btn-smX wed-btn-serviceX"
                       [ngClass]="subMenuIndex === i ? 'sub-nav-btn-active' : 'sub-nav-btn'">
                        {{item.name | translate}}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="nav-info-block">
            <div>
                <h4>{{(subMenuConfig.menu.name | translate).toUpperCase()}}</h4>
            </div>
            <div>
                <span>
                    <span class="fa fa-angle-double-right mr-1"></span>
                    {{subMenuItem.name | translate}}
                </span>
            </div>

        </div>
    </div>

</div>