@import "assets/styles/index";
@include index();

body {
  font-family: ArialRoundedMT, Arial, sans-serif;
  letter-spacing: 1px;
}

input,
button,
a {
  &:focus{
    outline: none !important;
  }
}
.modal-content {
  background: none !important;
  border: 0 !important;
}