.menu-container {
  $size: 40px;
  ul {
    padding: 0;
    list-style: none;
    li:first-of-type {
      a {
        border-top-left-radius: $size/4;
        border-top-right-radius: $size/4;
      }
    }
    li:last-of-type {
      a {
        border-bottom-left-radius: $size/4;
        border-bottom-right-radius: $size/4;
      }
    }
    li {
      a {
        text-decoration: none;
      }
    }
  }
}
.menu-btn {
  $size: 40px;
  $bg-color: rgba(28, 239, 241, 0.67);
  display: block;
  margin: 3px 0;
  padding-top: $size/3;
  padding-bottom: $size/3;
  padding-left: $size/2;
  padding-right: $size/2;
  border-radius: 0;
  font-size: 100%;
  font-weight: 600;
  cursor: pointer;
  width: 100%;

  color: #ffffff !important;
  background: rgba(28, 239, 241, 0.67);
  border: none;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  transition: all 0.6s;
  &:hover {
    $shift: $size/6;
    margin-top: $shift;
    margin-bottom: $shift;
    margin-left: $shift;
    border-radius: $shift;
    letter-spacing: 3px;
    color: rgba(3, 26, 95, 0.77) !important;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: inset 0px -15px 25px $bg-color;
    text-shadow: 0 -10px 12px rgba(28, 239, 241, 0.5);
  }
}
.menu-btn-active {
  $size: 40px;
  transition: all 0.6s;
  display: block;
  margin: 3px 0;
  padding-top: $size/2;
  padding-bottom: $size/2;
  padding-left: $size/2;
  padding-right: $size/2;
  border-radius: 0;
  font-size: 110%;
  font-weight: 600;
  cursor: pointer;
  width: 100%;

  color: #ffffff !important;
  background: rgba(37, 239, 93, 0.67);
  border: none;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
}
